<br>
<div class="container">
<h1 class="text-center card container bg-dark text-white"> New To_Do </h1>
<div class="card text-center">
<%= form_with model: todo, local: true do |f| %>

  <%= f.label 'Description' %>
  <%= f.text_field :description %>
  <br>
  <%= f.label 'Completed?' %>
  <%= f.check_box :completed %>
  <br>
  <%= f.submit 'Submit To_do' %>

<% end %>
</div>
<br>
<%= link_to 'Back', todos_path, class:'btn btn-primary'  %>
</div>