<div class="container">
  <br>
  <%= link_to 'New To_do', todos_new_path, class: 'btn btn-success' %>
  <br>
  <br>
  <% @todos.each do |todo| %>
  <div class="card bg-warning text-center">
    <p><%= todo.description %> /
    <%= todo.completed %>
    <%= link_to 'Show', show_path(todo) %>
    <%= link_to 'Delete' %>
    <%= link_to 'Completed' %></p>
  </div>
  <br>
<% end %>
</div>