<div class="container">
  <br>
  <%= link_to 'New To_do', todos_new_path, class: 'btn btn-success' %>
  <br>
  <br>
  <% @todos.each do |todo| %>
  <div class="card bg-warning text-center">
    <p><%= todo.description %> /
    <%= todo.completed %>
    <%= link_to 'Show', todo %>
    <%= link_to 'Edit', edit_path(todo) %>
    <%= link_to 'Delete', todo, method: :delete, data: {confirm: 'Are you sure you want to delete this To_Do?'}  %></p>
  </div>
  <br>
<% end %>
</div>